<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue中的条件渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="show" data-test="v-if">{{message}}</div>
        <div v-else>{{message2}}</div>
        <div v-show="show" data-test="v-show">{{message}}</div>

        <div v-if="show2 ==='a'">This is A</div>
        <div v-else-if="show2 ==='b'">This is B</div>
        <div v-else>This is others</div>

        <div v-if="show" key="username">用户名:<input/></div>
        <div v-else key="email">邮箱名:<input/></div>
    </div>
    
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                show: false,
                show2: 'a',
                message: "Hello World",
                message2: "Bye World"
            }
        })
    </script>
</body>
</html>