<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tVue中的set方法</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="(item,key,index) of userInfo">
            {{item}} -- {{key}} -- {{index}}
        </div>

        <div v-for="(item,key,index) of list">
                {{item}} 
        </div>
    </div>
    
    <script>
        // Vue.set(vm.userInfo,"address","shanghai")
        // vm.$set(vm.userInfo,"address","shanghai")
        var vm = new Vue({
            el: "#app",
            data: {
                userInfo:{
                    name: "wy",
                    age: 28,
                    gender: "male",
                    salary: "secret"
                },
                list:[1,2,3,4]
            }
        })
    </script>
</body>
</html>